.album-image {
  height: 500px;
  width: 500px;
}

.content-wrapper {
  display: flex;
}

.status {
  height: 100px;
  p:first-child {
    margin-top: 60px;
  }
  p:first-of-type {
    font-size: 3rem;
    margin-left: 200px;
    margin-top: 20px;
  }
}
.button-wrapper {
  width: 98vw;
  text-align: center;
  margin-top: 50px;
}